{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='css/itemlist.css')}}"/>
<link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}"/>
<link rel="stylesheet" href="{{url_for('static', filename='css/database.css')}}"/>

<style>

    * {
        color: #6f0c0c;
    }

    .chip {
      display: inline-block;
      padding: 0 25px;
      height: 50px;
      font-size: 16px;
      line-height: 50px;
      border-radius: 25px;
      background-color: #f1f1f1;
      margin: 5px;
    }
    

    </style>

<div class ="form"></div>
<br>
<<center>
    <h1 class="pagetitle">List of Sales on {{ date }}</h1>
    <br>
    <br>
    
    <table>
      <tr>
        <th>Customer</th>
        <th>Contact</th>
        <th>Flavor</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Rating</th>
        <th>Feedback</th>
        <th>Image URl</th>
        <th></th>
      </tr>
    {% for LSR in LSRs %}
      <tr>
        <td> <a href="/LumpiangShangRice/sales/customer/{{ LSR.customer }}">{{ LSR.customer }}</a> </td>
        <td> {{ LSR.contact }} </td>
        <td> <a href="/LumpiangShangRice/sales/{{ LSR.flavor }}">{{ LSR.flavor }} </td>
        <td> {{ LSR.quantity }} </td>
        <td> {{ LSR.price }} </td>
        <td>  <a href="/LumpiangShangRice/sales/rate/{{ LSR.rate }}">{{ LSR.rate }}</a> </td>
        <td> {{ LSR.feedback }} </a></td>
        <td> {{ LSR.url }} </td>
        <td>     <a href="/LumpiangShangRice/{{ LSR.id }}"> View </a> </td>
    
      </tr>
    
    {% endfor %}
    </table>
    <br>
    <br>
    <a class="normalref" href="{{ url_for('sales_database') }}"><button class="button" onclick="myFunction()">Back to Sales Database</button></a>
  </center>
    <br>
    <br>
    <br>
    <br>
    <center>
        <h1 class="pageh1">List of Date of Sales </h1>
    </center>
        <br>
        <br>


            {% set List = [] %}
            {% for d in data %}
                {% if d.date not in List %}
                    <a href="/LumpiangShangRice/sales/date/{{ d.date }}">
                        <div class="chip">
                            {{ d.date }}
                        </div>
                    </a>
                    {{ List.append( d.date  ) }}
                {% endif %}

            {% endfor %}



{% endblock %}