{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='css/database.css')}}"/>
<link rel="stylesheet" href="{{url_for('static', filename='css/itemlist.css')}}"/>
<div class ="form"></div>
<br>
<center><h1 class="pagetitle">Sales Database</h1></center>

<br>
<br>

<div style="overflow-x:auto;">
<table>
  <tr>
    <th>Customer</th>
    <th>Contact Number</th>
    <th>Order Date</th>
    <th>Flavor</th>
    <th>Quantity</th>
    <th>Total Price</th>
    <th>Rating</th>
    <th>Feedback</th>
    <th>Image URl</th>
    <th></th>
  </tr>
{% for d in data %}
  <tr>
    <td> <a href="/LumpiangShangRice/sales/customer/{{ d.customer }}">{{ d.customer }}</a> </td>
    <td> {{ d.contact }} </td>
    <td> <a href="/LumpiangShangRice/sales/date/{{ d.date }}">{{ d.date }}</a> </td>
    <td> <a href="/LumpiangShangRice/sales/{{ d.flavor }}">{{ d.flavor }}</a> </td>
    <td> {{ d.quantity }} </td>
    <td> {{ d.price }} </td>
    <td>  <a href="/LumpiangShangRice/sales/rate/{{ d.rate }}">{{ d.rate }}</a> </td>
    <td> {{ d.feedback }} </a></td>
    <td> {{ d.url }} </td>
    <td>     <a href="/LumpiangShangRice/{{ d.id }}"> View</a>   
    </td>

  </tr>

{% endfor %}
</table>
<br>
<br>
<center>
<a class="normalref" href="{{ url_for('sales_form') }}"><button class="button" onclick="myFunction()">Go to Sales Dataform</button></a>
<br>
<br>
<br>


<h1 class="pageh1">Sales Database per Flavor</h1></center>
<br>
<br>
<div class="responsive">
  <div class="gallery">
    <a href="/LumpiangShangRice/sales/classic">
      <img src="{{ url_for('static', filename='images/classic.png') }}" alt="Classic" width="600" height="400">
    </a>
    <div class="desc">Classic Lumpiang ShangRice</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a href="/LumpiangShangRice/sales/cheesy">
      <img src="{{ url_for('static', filename='images/cheesy.png') }}" alt="Cheesy" width="600" height="400">
    </a>
    <div class="desc">Cheesy  Lumpiang ShangRice</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="/LumpiangShangRice/sales/spicy">
      <img src="{{ url_for('static', filename='images/spicy.png') }}" alt="Spicy" width="600" height="400">
    </a>
    <div class="desc">Spicy  Lumpiang ShangRice</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="/LumpiangShangRice/sales/spicy-cheesy">
      <img src="{{ url_for('static', filename='images/spicy-cheesy.png') }}" alt="Spicy-Cheesy" width="600" height="400">
    </a>
    <div class="desc">Spicy-Cheesy Lumpiang ShangRice</div>
  </div>
</div>

<div class="clearfix"></div>
<br>
</div>
</center>
{% endblock %}